<%= form_for([@nueron, @quiz]) do |f| %>
  <% if @nueron.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nueron.errors.count, "error") %> prohibited this nueron from being saved:</h2>

      <ul>
      <% @nueron.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= f.text_field :question %>
    <%= f.label :question %><br>
  </div>
  <button type="button" class="waves-effect waves-light btn-large" id="plus" style="margin-bottom:10px;">답안 만들기</button>
  <h5> 첫 번째 답안이 정답이 되게 만들어 주세요. </h5>
  <div class="input-field" id="answerform">
    <%= f.label :answers %>
    <%= f.hidden_field :answers %>
      <input type="checkbox" name="correct" value="1" style="position:relative; left:0; opacity:1; float:right;"/>
      <input type="text" class="foranswer">
  </div>
  <div class="actions" style="clear:both;">
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>
    <%# f.submit %>
  </div>
<% end %>

<br><br><br>


<div class="sth">
</div>
