<%= form_for([@nueron, @quiz]) do |f| %>
  <% if @nueron.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nueron.errors.count, "error") %> prohibited this nueron from being saved:</h2>

      <ul>
      <% @nueron.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= f.text_field :question %>
    <%= f.label :question %><br>
  </div>
  <button type="button" id="plus">답안 만들기</button>
  <div class="input-field" id="answerform">
    <%= f.hidden_field :answers %>
      <input type="text" class="foranswer">
    <%# f.label :answers %><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<br><br><br>


  <div class="sth">
  </div>
