<form action="#">
  <%= @quiz.question %>
  <% @quiz.answers[:array].shuffle.each do |a|%>
    <p>
    <input name="group1" type="radio" />
    <label for="test1"><%= a %></label>
    </p>
  <% end %>

  <% @quiz.answers[:is_correct].each do |b|%>
    <p>
    <label for="test1"><%= b %></label>
    </p>
  <% end %>
  <br><br><br>

  <% @quiz.answers.each do |a| %>
    <%= a %>
  <% end %>
</form>

<%= link_to 'Back', show_path(token: @nueron.token) %>
