<%= form_tag(nueron_check_path, method: "get") do %>
  <%= @quiz.question %>
  <% @quiz.answers[:array].shuffle.each do |a|%>
    <input class="with-gap" name="answer" type="radio" value=<%=a %> />
    <label for="test1"><%= a %></label>
  <% end %>
  <input type="submit">
<% end %>

<%= link_to 'Back', show_path(token: @nueron.token) %>
