<%= form_for(@nueron) do |f| %>
  <% if @nueron.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nueron.errors.count, "error") %> prohibited this nueron from being saved:</h2>

      <ul>
      <% @nueron.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= f.text_field :title %>
    <%= f.label :title %><br>
  </div>
  <div class="input-field">
    <%= f.text_field :vid %>
    <%= f.label :vid %><br>
  </div>
  <div class="input-field">
    <%= f.text_field :tag_list, value: @nueron.tag_list.join(", ") %>
    <%= f.label :tag %><br>
  </div>
  <div class="row">
    <div class="col l6 s12">
      <div class="input-field">
        <%= f.text_area :note, id: 'text-input', rows: 6, cols: 60 %>
        <%= f.label :note %><br>
      </div>
    </div>
    <div class="col l6 s12">
      <div id="preview" class="markdown-body">
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script>
$(function() {
  $("#text-input").on("keyup", function() {
    $("#preview").html(marked(this.value));
  });
});
</script>
