<h3 class="center-align">전체 뉴런들</h3>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nuerons.each do |nueron| %>
      <tr>
        <td><%= nueron.user.username %></td>
        <td>
          <%= nueron.title %><br>
          <img style="width:100px" src="http://i1.ytimg.com/vi/<%=nueron.vid%>/hqdefault.jpg">
        </td>
        <td><%= nueron.note.truncate(20) %></td>
        <td><%= link_to '학습하기', '/show/' + nueron.token%></td>
        <td><%= link_to '수정', edit_nueron_path(nueron) %></td>
        <td><%= link_to '삭제', nueron, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
