<p>
  <strong>User:</strong>
  <%= @nueron.user_id %>
</p>

<p>
  <strong>Previous Nueron</strong>
  <ul>
    <% @nueron.prev.each do |n| %>
      <li><%= link_to n.title, n %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Title:</strong>
  <%= @nueron.title %>
</p>

<div class="video-container">
  <iframe width="853" height="480" src="https://www.youtube.com/embed/<%= @nueron.vid %>" frameborder="0" allowfullscreen></iframe>
</div>

<p>
  <strong>κ°•μλ…ΈνΈ</strong>
  <pre>
    <%= @nueron.note %>
  </pre>
</p>

<p>
  <strong>Next Nueron</strong>
  <ul>
    <% @nueron.next.each do |n| %>
      <li><%= link_to n.title, n %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_nueron_path(@nueron) %> |
<%= link_to 'Back', nuerons_path(o: @nueron.token) %>
