<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
<script src="http://bramp.github.io/js-sequence-diagrams/js/raphael-min.js"></script>
<script src="http://bramp.github.io/js-sequence-diagrams/js/underscore-min.js"></script>
<script src="http://bramp.github.io/js-sequence-diagrams/js/sequence-diagram-min.js"></script>
<h3><%= @nueron.title %></h3>
<p>
  by <%= @nueron.user.username %>, <%= @nueron.created_at.in_time_zone('Seoul').strftime('%Y년 %m월 %d일 %H:%M:%S') %>
</p>

<div class="video-container">
  <iframe width="853" height="480" src="https://www.youtube.com/embed/<%= @nueron.vid %>" frameborder="0" allowfullscreen></iframe>
</div>

<div class="row">
  <div class="col s12">
    <h4>강의노트</h4>
    <div id="note-body" class="markdown-body">
      <%= @nueron.note %>
    </div>
  </div>
  <div class="col s6">
    <h5>선행 뉴런</h5>
    <ul>
      <% if @nueron.prev.empty? %>
        <li>선행 뉴런이 없습니다</li>
      <% end %>
      <% @nueron.prev.each do |n| %>
        <li><%= link_to n.title, n %></li>
    <% end %>
    </ul>
  </div>
  <div class="col s6">
    <h5>후속 뉴런</h5>
    <ul>
      <% if @nueron.next.empty? %>
        <li>후속 뉴런이 없습니다</li>
      <% end %>
      <% @nueron.next.each do |n| %>
        <li><%= link_to n.title, n %></li>
    <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <%= link_to 'Edit', edit_nueron_path(@nueron) %> |
  <%= link_to 'Back', nuerons_path(o: @nueron.token) %>
</div>

<div class="fb-comments" data-href="<%=show_url(@nueron.token)%>" data-numposts="10" data-width="100%"></div>

<script>
$(function() {
    hljs.initHighlightingOnLoad();
    $("#note-body").html(marked('<%=escape_javascript(@nueron.note)%>'));
    $('pre code.lang-squence').each(function(i, block) {
      $(this).sequenceDiagram({theme: 'simple'});
    });
});
</script>
