<h2>Resend unlock instructions</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="input-field">
    <%= f.email_field :email, autofocus: true %>
    <%= f.label :email %><br />
  </div>

  <div class="input-field">
    <button class="btn waves-effect waves-light" type="submit" name="action">Resend unlock instruction
      <i class="material-icons right">send</i>
    </button>
  </div>
<% end %>

<%= render "devise/shared/links" %>
