<h1 class="leader center-align">이 세상의 모든 지식</h1>
<blockquote>
  더블 클릭으로 각 노드를 열어볼 수 있습니다
</blockquote>
<div id="brain">
</div>
<h3 class="header center-align">처음부터 시작하기</h3>
<div class="row">
<% @nuerons.each do |n| %>
  <% if n.prev.empty? %>
    <div class="col s12 m6">
      <div class="card small hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <a href="/show/<%=n.token%>"><img class="activator" src="http://i1.ytimg.com/vi/<%=n.vid%>/hqdefault.jpg" data-role="fitImage" data-format="square"></a>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><%=n.title%><i class="material-icons right">more_vert</i></span>
          <p><a href="/show/<%=n.token%>">지금바로 시작하기!</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><%=n.title%><i class="material-icons right">close</i></span>
          <p><%=n.note%></p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
</div>

<script>
$(document).on('ready', graph_render);
</script>
